---
import Card from "../components/Card.astro";
import Cards from "../components/Cards.astro";
import Layout from "../layouts/Layout.astro";
---

<!-- const options = {
  headers: { apikey: key },
};
const data = await fetch(url, options).then((res) => res.json());

import Beercard from "../components/Cards.astro" --><!-- <article>

<h1>hej</h1>

    <ProductCard />
    {data.map((beer) => <Beercard {beer} />)}
  </main>

</article> -->
<article>
  <Layout>
    <Cards />
  </Layout>
</article>
