<!-- ---
//@ts-nocheck
const url = "https://qxzbnouobeqeoleqrllh.supabase.co/rest/v1/AlefarmBrewingEXAM";
const key =
  "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF4emJub3VvYmVxZW9sZXFybGxoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDcwNDQ4MTYsImV4cCI6MjA2MjYyMDgxNn0.XW2IwfWGSgwE375yAIMAo0x-89W7Jq6Jn_n7sg6Ummk";

const options = {
  headers: { apikey: key },
};
const data = await fetch(url, options).then((res) => res.json());

import Beercard from "../components/Cards.astro"
---

<article>

<h1>hej</h1>

  <!-- <main> -->
    <!-- <ProductCard /> -->
    <!-- {data.map((beer) => <Beercard {beer} />)} -->
  </main>

</article> -->